# OS generated & temporary files
.DS_Store
Thumbs.db
*.~
*.swp

# Python stuff
*.pyc
__pycache__

# Front-end stuff
web/client/public
!web/client/public/assets
node_modules

# JetBrains IDE
**/.idea

# Virtualenv
**/env
