.broadcaster-page {
	padding: 20px;
	margin: 20px auto 0;
}

.stream-form {
	max-width: 640px;
	margin: 0 auto;

	.panel {
		margin-top: 40px;
		padding: 20px;
	}

	textarea {
		resize: none;
	}

	.btn {
		margin-top: 8px;
	}
}
