.broadcaster-page {
	max-width: 900px;
	padding: 20px;
	margin: 20px auto 0;

	.parent-video {
		margin: 20px 0;
	}

	.stream-btn {
		display: block;
		margin: 0 auto 20px;
	}

	.video-desc {
		padding: 10px 20px 20px;

		.text-muted {
			font-style: italic;
		}
	}
}

.stream-form {
	max-width: 640px;
	margin: 0 auto;

	.panel {
		margin-top: 40px;
		padding: 20px;
	}

	textarea {
		resize: none;
	}

	.btn {
		margin-top: 8px;
	}
}
