.home-page {
	padding: 20px;
	margin: 20px auto 0;

	.jumbotron {
		max-width: 800px;
		background-color: $white;
		margin: 40px auto;
		@include shadow;

		p {
			margin: 10px 0 20px;
		}

		.btn {
			margin-right: 20px;
			margin-bottom: 10px;
		}
	}
}
