.streams-page {
	max-width: 1080px;
	padding: 20px;
	margin: 20px auto 0;

	.stream-list {
		margin-top: 40px;

		.no-stream-msg {
			text-align: center;
			font-size: 1.4em;
		}

		.btn {
			margin-bottom: 10px;
		}

		.text-muted {
			font-style: italic;
		}
	}
}
