.viewer-page {
	max-width: 1400px;
	padding: 20px;
	margin: 40px auto 0;

	.child-video {
		margin-bottom: 20px;
	}

	.video-desc {
		padding: 10px 20px 20px;

		.text-muted {
			font-style: italic;
		}
	}
}
