.parent-video {
	margin: 40px;
	text-align: center;

	video {
		max-width: 640px;
		max-height: 360px;
	}

	button {
		display: block;
		margin: 30px auto;
	}
}

.child-video {
	margin: 40px;
	text-align: center;

	video {
		max-width: 640px;
		max-height: 360px;
	}
}
