<!DOCTYPE html>
<html>
<head>
	<title>MediVision</title>
	<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
</body>
	<div id="app-container"></div>
	<script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
	<script type="text/javascript" src="{{jsFile}}"></script>
</body>
</html>
