/*= Colors
--------------------------------------*/

$white: #ffffff;
$red: #fc6367;
$green: #63b400;
$blue: #43abde;

/*= Typography
--------------------------------------*/

$base-font: sans-serif;
