@import 'reset';
@import 'values';
@import 'components/all';

body {
	font-family: $base-font;
	background-color: $red;
	color: $white;
	text-align: center;
	margin-top: 50px;

	h1 {
		font-size: 64px;
	}
}
